
.separator {
  @apply shrink-0;
  background: var(--separator-bg);
  background-attachment: var(--separator-bg-attachment);
  background-repeat: var(--separator-bg-repeat);
  background-size: var(--separator-bg-size);

  &--horizontal {
    @apply h-[1px]
      w-full;
  }

  &--vertical {
    @apply h-full
      w-[1px];
  }
}
